body{
   background-color: #333333;
}

.regist {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../img/mic3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
}

.titulos-form {
  margin-bottom: 5px;
  padding-left: 15px;
  padding-top: 1px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  
}

label {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px; 
}

.regtit {
    padding-bottom: 10px;
}

.row-padding{
  padding: 0 15px;
}

.sp {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.form-control {
    border-radius: 0;
    border-color: #94d500;
    height: 50px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #222;
    color: #94d500;
    margin-bottom: 10px;
    transition: all 0.4s ease-out;
}

.select{
  padding: 0;
  height: 50px;
  transition: all 0.4s ease-out;
}

.form-control {
    box-shadow: 0 0 12px #000;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.form-control:focus {
    border: 1px solid  #94d500;
    box-shadow: 0 0 9px #94d500;
}

.btn-registrar {
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    border-radius: 0;
    border-color: #94d500;
    background-color: #222;
    margin-top: 15px;
    padding: 9px 28px;
    box-shadow: 0 0 12px #000;
    color: #94d500;
    transition: all 0.4s ease-in-out;
}

.btn-registrar:hover {
    border-color: #fff;
    background-color: #94d500;
    box-shadow: 0 0 9px #94d500;
    color: #fff;
}

.btn-registrar:focus {
    border-color: #94d500;
    background-color: #222;
    color: #fff;
    outline: none;
}

.btn-banda {
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    border-radius: 0;
    background-color: #222;
    height: 50px;
    box-shadow: 0 0 12px #000;
    color: #e68a00;
    width: 100%;
    outline: none;
    transition: all 0.4s ease-in-out;
    border: 2px #e68a00 dashed;
}

.btn-banda:focus {
    color: #e68a00;
    outline: none;
}

.btn-banda:hover {
    color: #e68a00;
    outline: none;
    box-shadow: 0 0 9px #e68a00;
}

.errorph {
    border: 1px solid #e62e00;
    border-radius: 0;
    padding-left: 12px;
    padding-top: 10px;
    background-color: #330000;
    color: #e62e00;
    box-shadow: 0 0 12px #000;
}

.onerrorph > input {
    font-size: 15px;
    border-color: #e62e00;
    color: #e62e00;
    box-shadow: 0 0 12px #000;
}

.onerrorph > input:focus {
    border: 1px solid #e62e00;
    box-shadow: 0 0 12px #e62e00;
}

.errcript {
    font-size: 15px;
    color: #e62e00;
}

.error{
  font-size: 15px;
  color: #e62e00;
  font-weight: normal;
}


.radiotab {
    border: 1px solid #94d500;
    background-color: #222222;
}

.radio-inline {
    padding-left: 30px;
}

/*----------------- Line a separadora y opcional ---------------*/

.lineseparator {
    border-top: 1px solid #94d500;
}

.fright {
    float: right;
    padding-top: 5px;
    padding-right: 20px;
    color: #94d500;
}

.moreoption {
    cursor: pointer;
}

.optional {
    display: none;
}

/* ----- Radio Button */

.radiopad {
    margin-bottom: 8px;
}
.radio label {
    display: inline-block;
    cursor: pointer;
    color: #94d500;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.form .radio label:hover,
.form .checkbox label:hover {
    background: rgba(148, 213, 0, 0.1); }

.form .radio label:before,
.form .checkbox label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid #94d500; }

.form input[type="radio"] {
    display: none; }

.form input[type="radio"]:checked + label:before {
    display: none; }

.form input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #94d500;
    border-radius: 2px;
    color: #fff; }

.form .checkbox label:before {
    border-radius: 3px; }

.form .checkbox input[type="checkbox"] {
    display: none; }

.form .checkbox input[type="checkbox"]:checked + label:before {
    display: none; }

.form .checkbox input[type="checkbox"]:checked + label {
    background: #94d500;
    color: #fff;
    padding: 5px 15px; }

/*--------------- fin de estilo de check box -------------------*/

@media only screen and (max-width:991px) {
    .jumbotronreg {
        height: 1190px;
    }
}
