<div class="box box-widget bordered-palegreen" id="post-box">
    <div class="box-header with-border bordered-palegreen">
        <div class='user-block' data-idpost='data-value="postId"'>
            @if ($post[$i]->user->avatar)
            <img src="{{ $post[$i]->user->avatar }}" class="img-circle"  alt="User Image">
            @else
            @if ($post[$i]->user->gender == 'Hombre')
            <img src="{{ asset('/img/default_male.jpg') }}"  class="img-circle"  alt="User Image">
            @elseif ($post[$i]->user->gender == 'Mujer' )
            <img src="{{ asset('/img/default_female.jpg') }}" class="img-circle"  alt="User Image">
            @else
            <img src="{{ asset('/img/default_other.jpg') }}" class="img-circle"  alt="User Image">
            @endif
            @endif


            <span class="usernamebox">{{ $post[$i]->user->name.' '.$post[$i]->user->surname }}</span>
            @if ($post[$i]->user->id == $user->id)
            <a class="close clpost" id="closepost" href=""><i class="fa fa-close fright"></i></a>
            @endif
            <span class="description">Publicado - {{ $post[$i]->created_at }}</span>
        </div>
    </div>

    <div class="box-body" style="display: block;" data-postid="{{$post[$i]->id}}">
        <p class="posted" id="contenido{{$post[$i]->id}}">{{ $post[$i]->post }}</p>
        @if ($post[$i]->user->id == $user->id)
        {{--<button id="edit{{$post[$i]->id}}" class="btn btn-warning btn-xs botonEditar"><i class="fa fa-edit"></i> Editar</button>--}}
        <a href="" class="btn btn-warning btn-xs" id="edit"><i class="fa fa-edit"></i> Editar</a>
        <a href="" class="btn btn-info btn-xs"><i class="fa fa-thumbs-up"></i> Me Gusta</a>
        <a href="" class="btn btn-danger btn-xs"><i class="fa fa-thumbs-down"></i> No me Gusta</a>
        @else
        <a href="" class="btn btn-info btn-xs"><i class="fa fa-thumbs-up"></i> Me Gusta</a>
        <a href="" class="btn btn-danger btn-xs"><i class="fa fa-thumbs-down"></i> No me Gusta</a>
        @endif
        <span class="pull-right text-muted"><span class="badge">{{ count($post[$i]->coment) }}</span> Comentarios</span>
    </div>

    <div class="box-footer" style="display: block;">
        <form action="/addcoment/{{$post[$i]->id}}" method="post">
            {{ csrf_field() }}
            @if($user->avatar)
            <img  src="{{ $user->avatar }}" class="img-responsive img-circle img-sm" alt="Alt Text">
            @else
            @if ($user->gender == 'Hombre')
            <img src="{{ asset('/img/default_male.jpg') }}" class="img-responsive img-circle img-sm" alt="Alt Text">
            @elseif ($user->gender == 'Mujer' )
            <img src="{{ asset('/img/default_female.jpg') }}" class="img-responsive img-circle img-sm" alt="Alt Text">
            @else
            <img src="{{ asset('/img/default_other.jpg') }}" class="img-responsive img-circle img-sm" alt="Alt Text">
            @endif
            @endif
            <div class="img-push">
                <input type="text" name="coment" class="form-control input-sm {{ ($post[$i]->user->id == $user->id)? 'bordered-palegreen': 'bordered-sky' }}" placeholder="Presiona Enter para comentar">
            </div>
        </form>
    </div>
</div>